<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index_layouts/layout}">


<div layout:fragment="content" class="window" style="width: 394px;">
  <div class="title-bar">
    <div class="title-bar-text">Sign In</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <menu role="tablist">
      <button id="loginBtn" >Sign In</button>
      <button id="signupBtn" >Sign Up</button>
      <button id="aboutBtn" aria-selected="true" >About</button>
    </menu>
      <div>
        <article class="tab_content" role="tabpanel">
          <p>
            You create the content for each tab by using an <code>article</code> tag.
          </p>
          <iframe width="100%" height="200"
                  src="https://www.youtube.com/embed/v0gaClScVCA?si=u9D8V5TWE_jXoKSj"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </article>
  </div>
  </div>
</div>
