<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index_layouts/layout}">


<div layout:fragment="content" class="window" style="width: 394px;">
  <div class="title-bar">
    <div class="title-bar-text">Sign In</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <menu role="tablist">
      <button id="loginBtn" aria-selected="true">Sign In</button>
      <button id="signupBtn" >Sign Up</button>
      <button id="aboutBtn">About</button>

    </menu>
    <article class="tab_content" role="tabpanel">
      <div>
        <form id="login-form" th:action="@{login}" method="post">
          <!--<div th:if="${param.error}">
            <div class="alert alert-danger">
              사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
          </div>-->

          <div class="window" style="margin: 32px; width: 250px" id="errorModal" hidden>
            <div class="title-bar">
              <div class="title-bar-text">
                Error
              </div>

              <div class="title-bar-controls">
                <button type="button" aria-label="Minimize" id="minimizeButton" ></button>
                <button type="button" aria-label="Maximize" id="maximizeButton"></button>
                <button type="button" aria-label="Close" id="closeButton"></button>
              </div>
            </div>
            <div class="window-body">
              <p id="errorMessage">사용자ID 또는 비밀번호를 확인해 주세요.</p>
              <section class="field-row" style="justify-content: flex-end">
                <button type="button" id="okButton">OK</button>
              </section>
            </div>
          </div>




          <fieldset>
            <div style="display: flex; justify-content: center;">
              <img src="/img/RPlogo2.png">
            </div>
          </fieldset>
          <fieldset>
            <legend>Sign In</legend>
            <div class="field-row-stacked" style="width: 200px">
              <label for="username">USER ID</label>
              <input name="username" id="username" type="text" required/>
            </div>
            <div class="field-row-stacked" style="width: 200px">
              <label for="password">PASSWORD</label>
              <input name="password" id="password" type="password" required/>
            </div>
          </fieldset>
          <section class="field-row">
            <button type="submit">Sign In</button>
            <div class="logo_wrap"
                 style="max-width: 580px; display: flex; justify-content: flex-start;">
              <div style="margin-left: auto;">
                <button type="button" id="styleButton1" style="display: flex;">
                  <img src="/img/icoxp.png " style="height: 20px;" alt="">
                  <div style="  line-height : 20px;">&nbsp;Style</div>
                </button>
              </div>
              <div>
                <button type="button" id="styleButton2" style="display: flex;">
                  <img src="/img/ico98.png " style="height: 20px;" alt="">
                  <div style="  line-height : 20px;">&nbsp;Style</div>
                </button>
              </div>
            </div>
          </section>

        </form>
        <div class="sns_login">
          <button type="button" id="naver">네이버</button>
          <button type="button" id="daum">다음</button>
        </div>
      </div>
    </article>
  </div>
</div>
