<div>
<form th:action="@{user/signup}" th:object="${userCreateForm}" method="post">
<!--  <fieldset>-->
<!--    <div style="display: flex; justify-content: center;">-->
<!--      <img src="/img/RPlogo2.png">-->
<!--    </div>-->
<!--  </fieldset>-->

  <fieldset>
    <legend>Sign Up</legend>
    <div class="field-row-stacked" style="width: 200px">
      <label for="username">USER ID</label>
      <input id="username" type="text" th:field="*{username}"/>
    </div>
    <div class="field-row-stacked" style="width: 200px">
      <label for="email">E-MAIL</label>
      <input id="email" type="text" th:field="*{email}"/>
    </div>
    <div class="field-row-stacked" style="width: 200px">
      <label for="password1">PASSWORD</label>
      <input id="password1" type="password" th:field="*{password1}"/>
    </div>
    <div class="field-row-stacked" style="width: 200px">
      <label for="password2">PASSWORD CHECK</label>
      <input id="password2" type="password" th:field="*{password2}"/>
    </div>
  </fieldset>
  <section class="field-row">
    <button type="submit">Sign Up</button>
  </section>
</form>
<!--
  <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
  </div>-->
</div>