<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
  <div class="logo_wrap" style="max-width: 580px; display: flex; justify-content: flex-start;">
    <a th:href="@{/{username}/home(username=${username})}">
      <div class="logo_header">
      </div>
    </a>
    <div style="margin-left: auto;">
      <button id="styleButton1" style="display: flex;">
        <img src="/img/icoxp.png " style="height: 20px;" alt="">
        <div style="  line-height : 20px;">&nbsp;Style</div>
      </button>
    </div>
    <div>
      <button id="styleButton2" style="display: flex;">
        <img src="/img/ico98.png " style="height: 20px;" alt="">
        <div style="  line-height : 20px;">&nbsp;Style</div>
      </button>
    </div>
    <div sec:authorize="isAuthenticated()">
      <button id="logout_btn" th:data-url="@{/logout}">logout</button>

      <script>
        document.getElementById('logout_btn').addEventListener('click', function() {
          window.location.href = this.getAttribute('data-url');
        });
      </script>

    </div>
  </div>
</div>
</html>